<div class="bg-white pb-3 rounded-xl shadow-md overflow-hidden border border-gray-200">
    <blockquote class="text-center lg:mx-auto lg:w-3/5">
        <div class="mt-2 lg:mt-10">
            <p class="relative text-lg sm:text-xl md:text-xl md:leading-normal font-medium text-foreground">
                <span class="relative z-10 italic text-foreground">“The most disastrous thing that you can ever learn is your first programming language.”</span>
            </p>
        </div>

        <footer class="mt-4">
            <div class="font-semibold text-foreground">Alan Kay</div>
            <div class="text-sm text-muted-foreground-1">Learning Research Group | Xerox PARC</div>
        </footer>
    </blockquote>
</div>
