<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
    <nav id="navbar" class="mt-4 bg-gray-100 text-base relative max-w-2xl w-full bg-navbar border border-navbar-line rounded rounded-[24px] mx-2 flex flex-wrap md:flex-nowrap items-center justify-between p-1 ps-4 md:py-0 sm:mx-auto">
        <div class="flex items-center">
            <!-- Logo -->
            <a href="{{ url_for('index') }}" class="flex items-center gap-2.5 group">
                <img
                  src="{{ url_for('static', filename='icon.svg') }}"
                  alt="Logo"
                  class="h-12 group-hover:opacity-100 transition-opacity duration-200"
                />
            </a>
            <!-- End Logo -->
            <div class="ms-1 sm:ms-2">
            </div>
        </div>

        <div class="flex items-center gap-1 md:order-4 md:ms-4">
            <div class="md:hidden">
                <!-- Toggle Button -->
                <button type="button" id="menu-toggle" class="flex justify-center items-center size-9.5 bg-layer border border-layer-line text-muted-foreground-1 rounded-full hover:bg-muted-hover focus:outline-hidden focus:bg-muted-focus" aria-label="Toggle navigation">
                    <svg id="icon-open" class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                    <svg id="icon-close" class="hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                </button>
                <!-- End Toggle Button -->
            </div>
        </div>

        <div id="mobile-menu" class="hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
            <div class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 py-2 md:py-0 md:ps-7">
                <a class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 hover:text-navbar-nav-foreground-hover focus:outline-hidden focus:navbar-nav-focus border-transparent text-navbar-nav-foreground/80"  href="{{ url_for('index') }}" aria-current="page">Home</a>
                <a class="py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 hover:text-navbar-nav-foreground-hover focus:outline-hidden focus:navbar-nav-focus border-transparent text-navbar-nav-foreground/80"  href="{{ url_for('posts.list_posts') }}" aria-current="page">Posts</a>
            </div>
        </div>
    </nav>
</header>
<!-- ========== END HEADER ========== -->
