{% extends "base.html" %}

{% block title %}Tom.Camp{% endblock %}

{% block content %}
{% include "components/quote.html" %}

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight text-foreground">Posts</h2>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    {% for post in posts %}
        {% include 'components/postcard.html' with context %}
    {% endfor %}
    <!-- End Grid -->

    <!-- Card -->
    <div class="mt-12 text-center">
        <a
            class="py-3 px-4 inline-flex items-center gap-x-1 text-sm font-medium rounded-full bg-layer border border-layer-line text-primary shadow-2xs hover:bg-layer-hover focus:outline-hidden focus:bg-layer-focus disabled:opacity-50 disabled:pointer-events-none"
            href="{{ url_for('posts.list_posts') }}"
        >
            All Posts
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
    </div>
<!-- End Card -->
</div>
<!-- End Card Blog -->
{% endblock %}
